img {
    width: 100%;
    vertical-align: middle;
}

.image-container {
    display: flex;
    gap: 20px;
    padding: 18px;
}

.image-container figure {
    flex-grow: 1;
}

.image-container {
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

.image-container figure {
    flex-basis: 90%;
    flex-shrink: 0;
    scroll-snap-align: center;
}

.image-container {
    margin-right: 18px;
}

.tekst {
    padding: 20px;
}


#second_section img {
    height: 180px;
}

#first_section img {
    height: 220px;
}

a.button {
    text-decoration: none;
    color: white;
    background-color: #E0B2B2;
    font-family: 'Poppins', sans-serif;
    font-size: 0.9rem;
    text-align: center;
    padding: 5px;
}

#first_section .section_wrapper {
    background-color: rgba(255, 201, 232, 0.2);
}

#second_section .section_wrapper {
    background-color: rgba(255, 201, 232, 0.2);
}

#third_section .section_wrapper {
    background-color: rgba(255, 201, 232, 0.2);
}

#fourth_section .section_wrapper {
    background-color: rgba(255, 201, 232, 0.2);
}

@media (min-width:600px) {
    #first_section .section_wrapper {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-gap: 20px;
        background-color: rgba(255, 201, 232, 0.2);
    }

    #second_section .section_wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
        background-color: rgba(255, 201, 232, 0.2);
    }

    #third_section .section_wrapper {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-gap: 20px;
        background-color: rgba(255, 201, 232, 0.2);
    }

    #fourth_section .section_wrapper {
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-gap: 20px;
        background-color: rgba(255, 201, 232, 0.2);
    }

    .image-container1 {
        padding-top: 50px;
    }
}
