img {
    width: 100%;
    vertical-align: middle;
}

.image-container {
    display: flex;
    gap: 20px;
    padding: 18px;
}

.image-container figure {
    flex-grow: 1;
}

.image-container {
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

.image-container figure {
    flex-basis: 90%;
    flex-shrink: 0;
    scroll-snap-align: center;
}

.image-container {
    margin-right: 18px;
}

.tekst {
    padding: 18px;
}

#second_section img {
    height: 180px;
}

#first_section img {
    height: 220px;
}

@media only screen and (min-width: 600px) {
    #first_section .section_wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
        background-color: rgba(250, 215, 239, 0.2);
    }

    #second_section .section_wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
        background-color: rgba(250, 215, 239, 0.2);
    }

    #third_section .section_wrapper {
        display: grid;
        grid-template-columns: 1fr 4fr;
        grid-gap: 20px;
        background-color: rgba(250, 215, 239, 0.2);
    }

    #fourth_section .section_wrapper {
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-gap: 20px;
        background-color: rgba(250, 215, 239, 0.2);
    }
