.tekst {
    padding: 20px;
}

#first_section .section_wrapper {
    background-color: rgba(190, 73, 77, 0.17);
}


@media (max-width:600px) {
    .image-container {
        padding-bottom: 30px;
    }
}

@media (min-width:600px) {
    #first_section .section_wrapper {
        display: grid;
        grid-template-columns: 2.5fr 1.5fr;
        grid-gap: 20px;
        background-color: rgba(190, 73, 77, 0.17);
    }
}
