img {
    width: 100%;
    vertical-align: middle;
}

.image-container {
    display: flex;
    gap: 20px;
    padding: 18px;
}

.image-container figure {
    flex-grow: 1;
}

.image-container {
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

.image-container figure {
    flex-basis: 90%;
    flex-shrink: 0;
    scroll-snap-align: center;
}

.image-container {
    margin-right: 30px;
}

.tekst {
    padding: 20px;
}

@media (min-width:600px) {
    #first_section .section_wrapper {
        display: grid;
        grid-template-columns: 2.2fr 1.2fr;
        grid-gap: 20px;
        background-color: rgba(6, 109, 250, 0.13);
    }

    #second_section .section_wrapper {
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-gap: 20px;
        background-color: rgba(6, 109, 250, 0.13);
    }

    #third_section .section_wrapper {
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-gap: 20px;
        background-color: rgba(6, 109, 250, 0.13);
    }
}
